# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Default catch-all
* adam@lightricks.com

# Analytics
/analytics/ nmoshe@lightricks.com dgang@lightricks.com

# Billing
/billing/ dgang@lightricks.com yarden@lightricks.com

# Billing Playground
/billing_playground/ lea@lightricks.com

# Common
/common/ @Lightricks/android-write-access

# Experiments
/experiments/ adam@lightricks.com

# Facetune
/facetune/ aartyomov@lightricks.com

# Feed
/feed/ ouriel@lightricks.com

# FeedPlayground
/feedplayground/ ouriel@lightricks.com

# NN
/nn/ nmoshe@lightricks.com

# Pixaloop
/pixaloop/ nmoshe@lightricks.com

# Quickshot
/quickshot/ lea@lightricks.com nmoshe@lightricks.com

# Render
/render/ aartyomov@lightricks.com

# Security
/security/ nmoshe@lightricks.com

# Swish a.k.a. VideoBoost
/swish/ yarden@lightricks.com ouriel@lightricks.com yaakov@lightricks.com

# Videoleap
/videoleap/ lea@lightricks.com nfreeman@lightricks.com bmaximenko@lightricks.com aviel@lightricks.com

# VideoEngine
/video_engine/ bmaximenko@lightricks.com ouriel@lightricks.com

# VideoEngine Playground
/video_engine_playground/ bmaximenko@lightricks.com ouriel@lightricks.com