[MASTER]
# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
extension-pkg-whitelist=cv2

docstring-quote=double
string-quote=double
triple-quote=double

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s) (must be on one line).
disable=abstract-class-not-used,broad-except,missing-docstring,invalid-name,locally-disabled,duplicate-code,too-few-public-methods,bad-continuation,too-many-return-statements,unidiomatic-typecheck,model-missing-unicode,file-ignored,ungrouped-imports,redefined-variable-type,django-not-available,too-many-arguments,logging-fstring-interpolation

[REPORTS]
# Tells whether to display a full report or only the messages.
reports=no

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=100

[DESIGN]
# Maximum number of statements in function / method body.
max-statements=50
